[submodule "vendor/upstream/nuked-cqm"]
	path = vendor/upstream/nuked-cqm
	url = https://github.com/nukeykt/Nuked-CQM.git
[submodule "vendor/upstream/nuked-opn2"]
	path = vendor/upstream/nuked-opn2
	url = https://github.com/nukeykt/Nuked-OPN2.git
[submodule "vendor/upstream/nuked-opm"]
	path = vendor/upstream/nuked-opm
	url = https://github.com/nukeykt/Nuked-OPM.git
[submodule "vendor/upstream/nuked-opll"]
	path = vendor/upstream/nuked-opll
	url = https://github.com/nukeykt/Nuked-OPLL.git
[submodule "vendor/upstream/nuked-psg"]
	path = vendor/upstream/nuked-psg
	url = https://github.com/nukeykt/Nuked-PSG.git
[submodule "vendor/upstream/ym2151-lle"]
	path = vendor/upstream/ym2151-lle
	url = https://github.com/nukeykt/YM2151-LLE.git
[submodule "vendor/upstream/ym2608-lle"]
	path = vendor/upstream/ym2608-lle
	url = https://github.com/nukeykt/YM2608-LLE.git
[submodule "vendor/upstream/libvgm"]
	path = vendor/upstream/libvgm
	url = https://github.com/ValleyBell/libvgm.git
[submodule "vendor/upstream/vgmtools"]
	path = vendor/upstream/vgmtools
	url = https://github.com/vgmrips/vgmtools.git
[submodule "vendor/upstream/ym3812-lle"]
	path = vendor/upstream/ym3812-lle
	url = https://github.com/nukeykt/YM3812-LLE.git
[submodule "vendor/upstream/ymf262-lle"]
	path = vendor/upstream/ymf262-lle
	url = https://github.com/nukeykt/YMF262-LLE.git
[submodule "vendor/upstream/nuked-opl2-lite"]
	path = vendor/upstream/nuked-opl2-lite
	url = https://github.com/nukeykt/Nuked-OPL2-Lite.git
[submodule "vendor/upstream/ym2203-lle"]
	path = vendor/upstream/ym2203-lle
	url = https://github.com/nukeykt/YM2203-LLE.git
[submodule "vendor/upstream/ymf276-lle"]
	path = vendor/upstream/ymf276-lle
	url = https://github.com/nukeykt/YMF276-LLE.git
